# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
    - name: Setup .NET
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore ./sandbox/ConsoleApp/ConsoleApp.csproj
    - name: Build
      run: dotnet build ./sandbox/ConsoleApp/ConsoleApp.csproj --no-restore
    - name: Test
      run: dotnet test ./sandbox/ConsoleApp/ConsoleApp.csproj --no-build --verbosity normal
